.body{
    background-color: yellow;
}


@media screen and (max-width:450px) {
    .col-10 {
        width: 50%;
    }

    .col-2{
        width: 50%;
    }

    .backButton{
        background-color: green!important;
    }

   .Table Table{
    margin:10% 0!important
   }

   Table th{
    word-wrap: break-word;
   }
}